# Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/

# Runtime outputs
uploads/*
!uploads/.gitkeep

runs/
runs_stats/

# Training datasets
dataset/
SLiBR_dataset/
object_detection/

# Ignore large model artifacts EXCEPT deployment model
*.onnx
*.engine

# Ignore all pt files except production model
*.pt
!models/
!models/best.pt

# Logs
*.log
*.csv

# Environment variables
.env